html{
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px auto;
  font-family: cursive !important;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
header#pageHeader{
  display: inline-flex;
  height: 50px;
  padding: 0px;
  width: 100% !important;
}
a#link_menu_header, a#link_home_header{
  margin: 0px;
  padding: 5px;
}
img#menuicon{
  padding: 5px;
  border-radius: 10px;
}
img#logo{
  margin: 3px 5px;
  width: 35px;
}
div#header-headings{
  display: inline-block;
  margin-left: 15px;
  padding: 10px 5px;
}
p#subheading{
  font-family: fantasy;
}
nav#topnavbar{
  
}
